.logo__pic {
<<<<<<< HEAD
  max-width: 100%;
  max-height: 100%;
}
  
.logo {
  cursor: pointer;
}
  
=======
    max-width: 100%;
    max-height: 100%;
  }
  
  .logo {
    cursor: pointer;
  }
  
>>>>>>> 2ef8c3fdd273e83a034106c7c0c579ccf6c5e29b
