.header {
    width: 100%;
    background-color: #89ace9c1;
    padding: 10px 0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

@media (max-width: 700px) {
	.wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}

.profile{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 600;
	align-items: flex-end;
}

.iconsMenu {
	display: flex;
	gap: 1.5rem;
}

.favoritesLink {
	position: relative;
	width: 25px;
	height: 25px;
}
.iconsMenu svg{
	width: 100%;
	height: 100%;
}

.iconBubble{
	background-color: #11cd20;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 14px;
	width: 20px;
	height: 20px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: absolute;
	bottom: 30%;
	left: 70%;
}

.lang {
	cursor: pointer;
	font-weight: 500;
}
